#s-3495ed23-ed54-40d9-8159-b9170cdc8216 > #backgroundBox {
  position: absolute;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 > #alignmentBox {
  position: relative;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_1 {
  position: absolute;
  width: 64.028564453125px;
  height: 27.77143096923828px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_2 {
  position: absolute;
  width: 64.02857208251953px;
  height: 27.77143096923828px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_3 {
  position: absolute;
  width: 63.4439811706543px;
  height: 36.196815490722656px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_4 {
  position: absolute;
  width: 56.78069305419922px;
  height: 36.196815490722656px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_5 {
  position: absolute;
  width: 53.94752502441406px;
  height: 15.77886962890625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_6 {
  position: absolute;
  width: 96.53965759277344px;
  height: 13.523193359375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rect_2 {
  position: absolute;
  width: 577.028564453125px;
  height: 6.17144775390625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_1 {
  position: absolute;
  width: 18.514495849609375px;
  height: 18.59722900390625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_31 {
  position: absolute;
  width: 42.77716064453125px;
  height: 13.967498779296875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_32 {
  position: absolute;
  width: 70.38604736328125px;
  height: 26.532379150390625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_49 {
  position: absolute;
  width: 38.77203369140625px;
  height: 14.06622314453125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_50 {
  position: absolute;
  width: 89.2086181640625px;
  height: 29.198211669921875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_60 {
  position: absolute;
  width: 27.7991943359375px;
  height: 13.523162841796875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_61 {
  position: absolute;
  width: 72.5330810546875px;
  height: 27.162109375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_71 {
  position: absolute;
  width: 41.3486328125px;
  height: 13.3426513671875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_72 {
  position: absolute;
  width: 89.6929931640625px;
  height: 26.090362548828125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_82 {
  position: absolute;
  width: 30.99908447265625px;
  height: 14.06622314453125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_83 {
  position: absolute;
  width: 98.24481201171875px;
  height: 32.027801513671875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_95 {
  position: absolute;
  width: 739.028564453125px;
  height: 833.1767578125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_102 {
  position: absolute;
  width: 460.78045654296875px;
  height: 471.20404052734375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_4 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.545196533203125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_120 {
  position: absolute;
  width: 32.399993896484375px;
  height: 16.20001220703125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_5 {
  position: absolute;
  width: 32.400360107421875px;
  height: 32.545257568359375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_126 {
  position: absolute;
  width: 22.39300537109375px;
  height: 4.4912567138671875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_6 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.54522705078125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_127 {
  position: absolute;
  width: 26.22857666015625px;
  height: 6.686767578125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_7 {
  position: absolute;
  width: 32.3994140625px;
  height: 32.54425048828125px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_128 {
  position: absolute;
  width: 32.399993896484375px;
  height: 19.148391723632812px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_8 {
  position: absolute;
  width: 32.40032958984375px;
  height: 32.54522705078125px;
  cursor: pointer;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_129 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0795669555664062px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_130 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.079559326171875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_131 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0804824829101562px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_132 {
  position: absolute;
  width: 39.54034423828125px;
  height: 26.939674377441406px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_133 {
  position: absolute;
  width: 25.23028564453125px;
  height: 10.968170166015625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_12 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08587646484375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_134 {
  position: absolute;
  width: 52.37139892578125px;
  height: 101.44049072265625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_135 {
  position: absolute;
  width: 39.9754638671875px;
  height: 26.68524169921875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_136 {
  position: absolute;
  width: 11.74420166015625px;
  height: 13.541671752929688px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Circle_13 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08589172363281px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_137 {
  position: absolute;
  width: 52.37139892578125px;
  height: 91.13375854492188px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_138 {
  position: absolute;
  width: 79.1748046875px;
  height: 16.410911560058594px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_139 {
  position: absolute;
  width: 147.40301513671875px;
  height: 19.216262817382812px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_140 {
  position: absolute;
  width: 62.5936279296875px;
  height: 13.523139953613281px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_141 {
  position: absolute;
  width: 103.90838623046875px;
  height: 13.3426513671875px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_142 {
  position: absolute;
  width: 16.122802734375px;
  height: 11.119987487792969px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_143 {
  position: absolute;
  width: 15.289794921875px;
  height: 11.270584106445312px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_144 {
  position: absolute;
  width: 23.8372802734375px;
  height: 11.270111083984375px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_145 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.057144165039062px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_146 {
  position: absolute;
  width: 473.6571044921875px;
  height: 102.60000610351562px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_147 {
  position: absolute;
  width: 473.6571044921875px;
  height: 87.94285583496094px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_148 {
  position: absolute;
  width: 473.6571044921875px;
  height: 72.5142822265625px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_149 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.828567504882812px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Path_150 {
  position: absolute;
  width: 460.4571533203125px;
  height: 44.864601135253906px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 {
  position: absolute;
  width: 56.0px;
  min-height: 31.99726941992032px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEA;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 {
  position: absolute;
  width: 24.00000000000003px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #484848;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Image_8 {
  position: absolute;
  width: 32.34285714285709px;
  height: 32.342857142857156px;
  opacity: 0.2;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Image_8 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 {
  position: absolute;
  width: 136.77142857142883px;
  min-height: 410.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEA;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 {
  position: absolute;
  width: 136.77142857142871px;
  min-height: 192.17142857142858px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 {
  position: absolute;
  width: 136.77142857142883px;
  min-height: 410.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEA;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 {
  position: absolute;
  width: 136.77142857142871px;
  min-height: 21.171428571428464px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 {
  position: absolute;
  width: 136.77142857142883px;
  min-height: 410.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,79,68,0.29);
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 {
  position: absolute;
  width: 136.77142857142871px;
  min-height: 126.1714285714288px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FF4F44;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 {
  position: absolute;
  width: 136.77142857142883px;
  min-height: 410.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEA;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 {
  position: absolute;
  width: 136.77142857142871px;
  min-height: 99.17142857142846px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 {
  position: absolute;
  width: 136.77142857142883px;
  min-height: 410.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEA;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 {
  position: absolute;
  width: 136.77142857142871px;
  min-height: 246.17142857142835px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 {
  box-shadow: none;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 > .borderLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-3495ed23-ed54-40d9-8159-b9170cdc8216 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
