#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_1 {
  position: absolute;
  width: 64.028564453125px;
  height: 27.77143096923828px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_2 {
  position: absolute;
  width: 64.02857208251953px;
  height: 27.77143096923828px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_3 {
  position: absolute;
  width: 63.4439811706543px;
  height: 36.196815490722656px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_4 {
  position: absolute;
  width: 56.78069305419922px;
  height: 36.196815490722656px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_5 {
  position: absolute;
  width: 53.94752502441406px;
  height: 15.77886962890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_6 {
  position: absolute;
  width: 96.53965759277344px;
  height: 13.523193359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_2 {
  position: absolute;
  width: 577.028564453125px;
  height: 6.17144775390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_1 {
  position: absolute;
  width: 18.514495849609375px;
  height: 18.59722900390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_29 {
  position: absolute;
  width: 36.18560791015625px;
  height: 32.55877685546875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_30 {
  position: absolute;
  width: 5.05291748046875px;
  height: 13.225372314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_31 {
  position: absolute;
  width: 42.77716064453125px;
  height: 13.967498779296875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_32 {
  position: absolute;
  width: 35.89923095703125px;
  height: 13.532379150390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_3 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_4 {
  position: absolute;
  width: 41.65716552734375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_33 {
  position: absolute;
  width: 36.2247314453125px;
  height: 13.532379150390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_5 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_6 {
  position: absolute;
  width: 54.0px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_34 {
  position: absolute;
  width: 36.18560791015625px;
  height: 32.558746337890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_35 {
  position: absolute;
  width: 8.87762451171875px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_36 {
  position: absolute;
  width: 36.2232666015625px;
  height: 13.532379150390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_7 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_8 {
  position: absolute;
  width: 54.0px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_37 {
  position: absolute;
  width: 8.34368896484375px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_38 {
  position: absolute;
  width: 32.432373046875px;
  height: 32.432403564453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_39 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_9 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_40 {
  position: absolute;
  width: 9.50091552734375px;
  height: 13.162109375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_41 {
  position: absolute;
  width: 32.432373046875px;
  height: 32.432464599609375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_42 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523193359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_10 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.17144775390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_43 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523193359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_11 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.17144775390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_44 {
  position: absolute;
  width: 8.2728271484375px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_45 {
  position: absolute;
  width: 33.55126953125px;
  height: 23.9605712890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_46 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523193359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_12 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.17144775390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_47 {
  position: absolute;
  width: 8.3175048828125px;
  height: 13.35186767578125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_48 {
  position: absolute;
  width: 33.55126953125px;
  height: 23.96051025390625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_49 {
  position: absolute;
  width: 38.77203369140625px;
  height: 14.06622314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_50 {
  position: absolute;
  width: 51.5931396484375px;
  height: 16.8865966796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_13 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_14 {
  position: absolute;
  width: 6.17144775390625px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_51 {
  position: absolute;
  width: 51.591552734375px;
  height: 16.8865966796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_15 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_16 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_52 {
  position: absolute;
  width: 8.8961181640625px;
  height: 13.162109375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_53 {
  position: absolute;
  width: 33.5511474609375px;
  height: 23.960662841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_54 {
  position: absolute;
  width: 36.185546875px;
  height: 32.558746337890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_55 {
  position: absolute;
  width: 8.3714599609375px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_56 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_17 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_57 {
  position: absolute;
  width: 8.280517578125px;
  height: 13.3519287109375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_58 {
  position: absolute;
  width: 32.43389892578125px;
  height: 32.432403564453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_59 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_18 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_60 {
  position: absolute;
  width: 27.7991943359375px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_61 {
  position: absolute;
  width: 35.1478271484375px;
  height: 13.162109375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_19 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_20 {
  position: absolute;
  width: 29.31427001953125px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_62 {
  position: absolute;
  width: 35.1478271484375px;
  height: 13.162109375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_21 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_22 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_63 {
  position: absolute;
  width: 18.05303955078125px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_64 {
  position: absolute;
  width: 33.55120849609375px;
  height: 23.960662841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_65 {
  position: absolute;
  width: 36.18560791015625px;
  height: 32.558746337890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_66 {
  position: absolute;
  width: 18.83984375px;
  height: 13.225372314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_67 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_23 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_68 {
  position: absolute;
  width: 18.52362060546875px;
  height: 13.4058837890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_69 {
  position: absolute;
  width: 32.43389892578125px;
  height: 32.432403564453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_70 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_24 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_71 {
  position: absolute;
  width: 41.3486328125px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_72 {
  position: absolute;
  width: 45.869140625px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_25 {
  position: absolute;
  width: 81.771484375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_26 {
  position: absolute;
  width: 40.1142578125px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_73 {
  position: absolute;
  width: 45.869140625px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_27 {
  position: absolute;
  width: 81.771484375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_28 {
  position: absolute;
  width: 74.05712890625px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_74 {
  position: absolute;
  width: 18.5142822265625px;
  height: 13.4058837890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_75 {
  position: absolute;
  width: 33.56146240234375px;
  height: 23.960693359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_76 {
  position: absolute;
  width: 36.17999267578125px;
  height: 32.558746337890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_77 {
  position: absolute;
  width: 18.8382568359375px;
  height: 13.225372314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_78 {
  position: absolute;
  width: 35.8714599609375px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_29 {
  position: absolute;
  width: 81.771484375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_79 {
  position: absolute;
  width: 18.0513916015625px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_80 {
  position: absolute;
  width: 32.43084716796875px;
  height: 32.432403564453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_81 {
  position: absolute;
  width: 35.8714599609375px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_30 {
  position: absolute;
  width: 81.771484375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_82 {
  position: absolute;
  width: 30.99908447265625px;
  height: 14.06622314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_83 {
  position: absolute;
  width: 51.82763671875px;
  height: 16.89581298828125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_31 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_32 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_84 {
  position: absolute;
  width: 51.591552734375px;
  height: 16.89581298828125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_33 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_34 {
  position: absolute;
  width: 63.25714111328125px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_85 {
  position: absolute;
  width: 3.0633544921875px;
  height: 5.662445068359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_86 {
  position: absolute;
  width: 3.0633544921875px;
  height: 5.662445068359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_87 {
  position: absolute;
  width: 18.57757568359375px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_88 {
  position: absolute;
  width: 33.55120849609375px;
  height: 23.960723876953125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_89 {
  position: absolute;
  width: 36.18560791015625px;
  height: 32.558746337890625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_90 {
  position: absolute;
  width: 15.45025634765625px;
  height: 13.225372314453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_91 {
  position: absolute;
  width: 51.82763671875px;
  height: 16.89581298828125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_35 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_36 {
  position: absolute;
  width: 61.71429443359375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_92 {
  position: absolute;
  width: 18.207275390625px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_93 {
  position: absolute;
  width: 32.43389892578125px;
  height: 32.432403564453125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_94 {
  position: absolute;
  width: 35.8807373046875px;
  height: 13.523162841796875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rect_37 {
  position: absolute;
  width: 81.77142333984375px;
  height: 6.171417236328125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_95 {
  position: absolute;
  width: 739.028564453125px;
  height: 833.1767578125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_96 {
  position: absolute;
  width: 53.54888916015625px;
  height: 58.85357666015625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_97 {
  position: absolute;
  width: 191.47174072265625px;
  height: 124.34280395507812px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_98 {
  position: absolute;
  width: 34.32548522949219px;
  height: 60.003326416015625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_99 {
  position: absolute;
  width: 111.77691650390625px;
  height: 280.5191955566406px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_100 {
  position: absolute;
  width: 184.63247680664062px;
  height: 266.2099304199219px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_101 {
  position: absolute;
  width: 36.621002197265625px;
  height: 85.48196411132812px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_102 {
  position: absolute;
  width: 460.78045654296875px;
  height: 471.20404052734375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_103 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_104 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_105 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_106 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_107 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_108 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_109 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_110 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_111 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_112 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.45714569091797px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_113 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.45714569091797px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_114 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_115 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_116 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_117 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_118 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_119 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_4 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.545196533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_120 {
  position: absolute;
  width: 32.399993896484375px;
  height: 16.20001220703125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_121 {
  position: absolute;
  width: 18.5142822265625px;
  height: 17.74285888671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_122 {
  position: absolute;
  width: 18.5142822265625px;
  height: 17.74285888671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_123 {
  position: absolute;
  width: 18.5142822265625px;
  height: 16.199996948242188px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_124 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_125 {
  position: absolute;
  width: 18.5142822265625px;
  height: 19.28570556640625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_5 {
  position: absolute;
  width: 32.400360107421875px;
  height: 32.545257568359375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_126 {
  position: absolute;
  width: 22.39300537109375px;
  height: 4.4912567138671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_6 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.54522705078125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_127 {
  position: absolute;
  width: 26.22857666015625px;
  height: 6.686767578125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_7 {
  position: absolute;
  width: 32.3994140625px;
  height: 32.54425048828125px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_128 {
  position: absolute;
  width: 32.399993896484375px;
  height: 19.148391723632812px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_8 {
  position: absolute;
  width: 32.40032958984375px;
  height: 32.54522705078125px;
  cursor: pointer;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_129 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0795669555664062px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_130 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.079559326171875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_131 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0804824829101562px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_132 {
  position: absolute;
  width: 39.54034423828125px;
  height: 26.939674377441406px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_133 {
  position: absolute;
  width: 25.23028564453125px;
  height: 10.968170166015625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_12 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08587646484375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_134 {
  position: absolute;
  width: 52.37139892578125px;
  height: 101.44049072265625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_135 {
  position: absolute;
  width: 39.9754638671875px;
  height: 26.68524169921875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_136 {
  position: absolute;
  width: 11.74420166015625px;
  height: 13.541671752929688px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Circle_13 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08589172363281px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_137 {
  position: absolute;
  width: 52.37139892578125px;
  height: 91.13375854492188px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_138 {
  position: absolute;
  width: 79.1748046875px;
  height: 16.410911560058594px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_139 {
  position: absolute;
  width: 147.40301513671875px;
  height: 19.216262817382812px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_140 {
  position: absolute;
  width: 62.5936279296875px;
  height: 13.523139953613281px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_141 {
  position: absolute;
  width: 103.90838623046875px;
  height: 13.3426513671875px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_142 {
  position: absolute;
  width: 16.122802734375px;
  height: 11.119987487792969px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_143 {
  position: absolute;
  width: 15.289794921875px;
  height: 11.270584106445312px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_144 {
  position: absolute;
  width: 23.8372802734375px;
  height: 11.270111083984375px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_145 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.057144165039062px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_146 {
  position: absolute;
  width: 473.6571044921875px;
  height: 102.60000610351562px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_147 {
  position: absolute;
  width: 473.6571044921875px;
  height: 87.94285583496094px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_148 {
  position: absolute;
  width: 473.6571044921875px;
  height: 72.5142822265625px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_149 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.828567504882812px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_150 {
  position: absolute;
  width: 460.4571533203125px;
  height: 44.864601135253906px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 56.0px;
  min-height: 31.99726941992032px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #7BBD80;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  width: 24.00000000000003px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  position: absolute;
  width: 32.34285714285709px;
  height: 32.342857142857156px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
