#s-fd4549b0-b339-444d-b10a-1314b391be3d > #backgroundBox {
  position: absolute;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d > #alignmentBox {
  position: relative;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_1 {
  position: absolute;
  width: 739.028564453125px;
  height: 833.1767578125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_2 {
  position: absolute;
  width: 53.54888916015625px;
  height: 58.85357666015625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_3 {
  position: absolute;
  width: 191.47174072265625px;
  height: 124.34280395507812px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_4 {
  position: absolute;
  width: 34.32548522949219px;
  height: 60.003326416015625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_5 {
  position: absolute;
  width: 111.77691650390625px;
  height: 280.5191955566406px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_6 {
  position: absolute;
  width: 184.63247680664062px;
  height: 266.2099304199219px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_7 {
  position: absolute;
  width: 36.621002197265625px;
  height: 85.48196411132812px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_8 {
  position: absolute;
  width: 460.78045654296875px;
  height: 471.20404052734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_9 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_10 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_11 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_12 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_13 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_14 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_15 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_16 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_17 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_18 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.45714569091797px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_19 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.45714569091797px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_20 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_21 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_22 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_23 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_24 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_25 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.457138061523438px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_1 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.545196533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_26 {
  position: absolute;
  width: 32.399993896484375px;
  height: 16.20001220703125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_27 {
  position: absolute;
  width: 18.5142822265625px;
  height: 17.74285888671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_28 {
  position: absolute;
  width: 18.5142822265625px;
  height: 17.74285888671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_29 {
  position: absolute;
  width: 18.5142822265625px;
  height: 16.199996948242188px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_30 {
  position: absolute;
  width: 18.5142822265625px;
  height: 25.4571533203125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_31 {
  position: absolute;
  width: 18.5142822265625px;
  height: 19.28570556640625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_2 {
  position: absolute;
  width: 32.400360107421875px;
  height: 32.545257568359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_32 {
  position: absolute;
  width: 22.39300537109375px;
  height: 4.4912567138671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_3 {
  position: absolute;
  width: 32.400299072265625px;
  height: 32.54522705078125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_33 {
  position: absolute;
  width: 26.22857666015625px;
  height: 6.686767578125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_4 {
  position: absolute;
  width: 32.3994140625px;
  height: 32.54425048828125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_34 {
  position: absolute;
  width: 32.399993896484375px;
  height: 19.148391723632812px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_5 {
  position: absolute;
  width: 32.40032958984375px;
  height: 32.54522705078125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_35 {
  position: absolute;
  width: 64.028564453125px;
  height: 27.77143096923828px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_36 {
  position: absolute;
  width: 64.02857208251953px;
  height: 27.77143096923828px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_37 {
  position: absolute;
  width: 63.4439811706543px;
  height: 36.196815490722656px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_38 {
  position: absolute;
  width: 56.78069305419922px;
  height: 36.196815490722656px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_39 {
  position: absolute;
  width: 53.94752502441406px;
  height: 15.77886962890625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_40 {
  position: absolute;
  width: 96.53965759277344px;
  height: 13.523193359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_2 {
  position: absolute;
  width: 577.028564453125px;
  height: 6.17144775390625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_6 {
  position: absolute;
  width: 18.514495849609375px;
  height: 18.59722900390625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_7 {
  position: absolute;
  width: 75.60075378417969px;
  height: 75.9388427734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_45 {
  position: absolute;
  width: 124.971435546875px;
  height: 33.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_56 {
  position: absolute;
  width: 9.551849365234375px;
  height: 21.96722412109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_57 {
  position: absolute;
  width: 20.18365478515625px;
  height: 8.7757568359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_8 {
  position: absolute;
  width: 77.05789184570312px;
  height: 77.38909912109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_58 {
  position: absolute;
  width: 21.9215087890625px;
  height: 10.228607177734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_3 {
  position: absolute;
  width: 840.857177734375px;
  height: 598.6286010742188px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_41 {
  position: absolute;
  width: 207.74114990234375px;
  height: 20.587890625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_42 {
  position: absolute;
  width: 129.501220703125px;
  height: 17.836944580078125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_43 {
  position: absolute;
  width: 49.7149658203125px;
  height: 44.662506103515625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_44 {
  position: absolute;
  width: 35.71868896484375px;
  height: 13.523162841796875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_46 {
  position: absolute;
  width: 48.18115234375px;
  height: 34.688079833984375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_47 {
  position: absolute;
  width: 111.31402587890625px;
  height: 17.7366943359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_48 {
  position: absolute;
  width: 151.739990234375px;
  height: 17.7366943359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_49 {
  position: absolute;
  width: 726.327880859375px;
  height: 3.392730712890625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_50 {
  position: absolute;
  width: 602.4000244140625px;
  height: 91.2047119140625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_51 {
  position: absolute;
  width: 110.34454345703125px;
  height: 70.3426513671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_52 {
  position: absolute;
  width: 31.659423828125px;
  height: 10.968170166015625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_53 {
  position: absolute;
  width: 55.2451171875px;
  height: 21.9378662109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_54 {
  position: absolute;
  width: 72.9910888671875px;
  height: 13.3426513671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_55 {
  position: absolute;
  width: 133.17169189453125px;
  height: 17.7366943359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_59 {
  position: absolute;
  width: 122.50439453125px;
  height: 14.2559814453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_60 {
  position: absolute;
  width: 43.57489013671875px;
  height: 43.574920654296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_61 {
  position: absolute;
  width: 137.0859375px;
  height: 17.83697509765625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_62 {
  position: absolute;
  width: 60.3519287109375px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_63 {
  position: absolute;
  width: 39.35992431640625px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_64 {
  position: absolute;
  width: 39.35992431640625px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_65 {
  position: absolute;
  width: 60.3519287109375px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_66 {
  position: absolute;
  width: 43.7554931640625px;
  height: 13.523193359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_67 {
  position: absolute;
  width: 27.46295166015625px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_68 {
  position: absolute;
  width: 4.07318115234375px;
  height: 9.689208984375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_69 {
  position: absolute;
  width: 18.998779296875px;
  height: 6.581787109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_70 {
  position: absolute;
  width: 27.46295166015625px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_71 {
  position: absolute;
  width: 14.51446533203125px;
  height: 14.50286865234375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_72 {
  position: absolute;
  width: 16.884521484375px;
  height: 7.24945068359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_73 {
  position: absolute;
  width: 16.884521484375px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_74 {
  position: absolute;
  width: 16.884521484375px;
  height: 7.24957275390625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_75 {
  position: absolute;
  width: 16.884521484375px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_76 {
  position: absolute;
  width: 75.62005615234375px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_77 {
  position: absolute;
  width: 75.62939453125px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_78 {
  position: absolute;
  width: 75.62939453125px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_79 {
  position: absolute;
  width: 43.7554931640625px;
  height: 13.523193359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_9 {
  position: absolute;
  width: 21.60009765625px;
  height: 21.69677734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_80 {
  position: absolute;
  width: 6.19000244140625px;
  height: 9.00408935546875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_81 {
  position: absolute;
  width: 39.35992431640625px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_82 {
  position: absolute;
  width: 16.88446044921875px;
  height: 7.24945068359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_83 {
  position: absolute;
  width: 16.8846435546875px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_84 {
  position: absolute;
  width: 16.88446044921875px;
  height: 7.24957275390625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_85 {
  position: absolute;
  width: 16.8846435546875px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_86 {
  position: absolute;
  width: 27.46282958984375px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_87 {
  position: absolute;
  width: 4.07318115234375px;
  height: 9.689208984375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_88 {
  position: absolute;
  width: 18.99871826171875px;
  height: 6.581787109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_89 {
  position: absolute;
  width: 27.46282958984375px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_90 {
  position: absolute;
  width: 14.51446533203125px;
  height: 14.50286865234375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_91 {
  position: absolute;
  width: 59.80572509765625px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_92 {
  position: absolute;
  width: 60.348876953125px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_93 {
  position: absolute;
  width: 39.373779296875px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_94 {
  position: absolute;
  width: 39.373779296875px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_10 {
  position: absolute;
  width: 21.6002197265625px;
  height: 21.69677734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_95 {
  position: absolute;
  width: 6.19000244140625px;
  height: 9.00408935546875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_96 {
  position: absolute;
  width: 59.80572509765625px;
  height: 14.06622314453125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_97 {
  position: absolute;
  width: 16.88446044921875px;
  height: 7.24945068359375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_98 {
  position: absolute;
  width: 16.88458251953125px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_99 {
  position: absolute;
  width: 16.88446044921875px;
  height: 7.24957275390625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_100 {
  position: absolute;
  width: 16.88458251953125px;
  height: 7.24951171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_101 {
  position: absolute;
  width: 27.46282958984375px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_102 {
  position: absolute;
  width: 4.07318115234375px;
  height: 9.689208984375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_103 {
  position: absolute;
  width: 18.99871826171875px;
  height: 6.581787109375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_104 {
  position: absolute;
  width: 27.46282958984375px;
  height: 17.280029296875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_105 {
  position: absolute;
  width: 14.5145263671875px;
  height: 14.50286865234375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_4 {
  position: absolute;
  width: 183.5999755859375px;
  height: 6.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_5 {
  position: absolute;
  width: 183.5999755859375px;
  height: 6.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_6 {
  position: absolute;
  width: 122.4102783203125px;
  height: 6.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_7 {
  position: absolute;
  width: 183.5999755859375px;
  height: 6.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rect_8 {
  position: absolute;
  width: 138.857177734375px;
  height: 6.171417236328125px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_106 {
  position: absolute;
  width: 5.52734375px;
  height: 10.599609375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_107 {
  position: absolute;
  width: 5.5274658203125px;
  height: 10.599609375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_11 {
  position: absolute;
  width: 21.6002197265625px;
  height: 21.69677734375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_108 {
  position: absolute;
  width: 6.19000244140625px;
  height: 9.00408935546875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_109 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0795669555664062px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_110 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.079559326171875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_111 {
  position: absolute;
  width: 462.8603515625px;
  height: 3.0804824829101562px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_112 {
  position: absolute;
  width: 39.54034423828125px;
  height: 26.939674377441406px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_113 {
  position: absolute;
  width: 25.23028564453125px;
  height: 10.968170166015625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_12 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08587646484375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_114 {
  position: absolute;
  width: 52.37139892578125px;
  height: 101.44049072265625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_115 {
  position: absolute;
  width: 39.9754638671875px;
  height: 26.68524169921875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_116 {
  position: absolute;
  width: 11.74420166015625px;
  height: 13.541671752929688px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Circle_13 {
  position: absolute;
  width: 98.6580810546875px;
  height: 99.08589172363281px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_117 {
  position: absolute;
  width: 52.37139892578125px;
  height: 91.13375854492188px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_118 {
  position: absolute;
  width: 79.1748046875px;
  height: 16.410911560058594px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_119 {
  position: absolute;
  width: 147.40301513671875px;
  height: 19.216262817382812px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_120 {
  position: absolute;
  width: 62.5936279296875px;
  height: 13.523139953613281px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_121 {
  position: absolute;
  width: 103.90838623046875px;
  height: 13.3426513671875px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_122 {
  position: absolute;
  width: 16.122802734375px;
  height: 11.119987487792969px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_123 {
  position: absolute;
  width: 15.289794921875px;
  height: 11.270584106445312px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_124 {
  position: absolute;
  width: 23.8372802734375px;
  height: 11.270111083984375px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_125 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.057144165039062px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_126 {
  position: absolute;
  width: 473.6571044921875px;
  height: 102.60000610351562px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_127 {
  position: absolute;
  width: 473.6571044921875px;
  height: 87.94285583496094px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_128 {
  position: absolute;
  width: 473.6571044921875px;
  height: 72.5142822265625px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_129 {
  position: absolute;
  width: 473.6571044921875px;
  height: 20.828567504882812px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_130 {
  position: absolute;
  width: 460.4571533203125px;
  height: 44.864601135253906px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_131 {
  position: absolute;
  width: 24.685546875px;
  height: 24.685699462890625px;
  cursor: pointer;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 {
  position: absolute;
  width: 56.0px;
  min-height: 31.99726941992032px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 {
  box-shadow: none;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #7BBD80;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 {
  position: absolute;
  width: 24.00000000000003px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 {
  box-shadow: none;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Image_7 {
  position: absolute;
  width: 32.34285714285709px;
  height: 32.342857142857156px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Image_7 {
  box-shadow: none;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d #s-Path_132 {
  position: absolute;
  width: 125.04898071289062px;
  height: 33.19200897216797px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-fd4549b0-b339-444d-b10a-1314b391be3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
