@page
@model DARE_Waive.Pages.PlanungsDatenAnlagens.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlanungsDatenAnlagen</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlanungsDatenAnlagen.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
